<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--여기서 타임리프가 본격적으로 동작!-->
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <!-- th:each 는 자바의 for each와 같음. 하나씩 루프돌기.-->
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>